.go-to-top {
  position: fixed;
  bottom: 3rem;
  right: -2rem;
  color: var(--button-text-color);
  background: var(--button-background);
  box-shadow: 0 0 5px var(--button-background);
  font-weight: 900;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  // padding: 0px 5px 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  height: 30px;
  width: 30px;
  animation: disappear 0.3s ease-in-out;
}

@keyframes disappear {
  0% {
    right: 2rem;
  }

  100% {
    right: -2rem;
    visibility: hidden;
  }
}

.go-to-top.show {
  visibility: visible;
  right: 2rem;
  animation: appear 0.3s ease-in-out;
}

@keyframes appear {
  0% {
    right: -2rem;
  }

  100% {
    right: 2rem;
  }
}
