<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <h2>Web Application (Frontend and Backend)</h2>
    <span class="close" (click)="onCloseModal()">&times;</span>
    <div class="modal-body">
      <p>
        Empower your business with comprehensive Web Application Development
        services. From intuitive frontend interfaces to robust backend
        functionality, I've got you covered.
      </p>

      <div class="creative-image">
        <img src="assets/app.jpg" alt="" />
      </div>
      <h3>Frontend Development</h3>
      <ul>
        <li>
          User Interface (UI) Design:
          <ul>
            <li>Visually appealing interfaces for optimal user engagement.</li>
            <li>Responsive designs for seamless experiences across devices.</li>
          </ul>
        </li>
        <li>
          Frontend Technologies:
          <ul>
            <li>
              Expertise in HTML5, CSS3, JavaScript, and frameworks like Ionic
              and Angular.
            </li>
            <!-- <li>Cross-browser compatibility and mobile responsiveness.</li> -->
          </ul>
        </li>
      </ul>

      <h3>Backend Development</h3>
      <ul>
        <li>
          Server-Side Development:
          <ul>
            <li>Scalable server-side solutions for optimal performance.</li>
            <li>
              Database design and management for data-driven applications.
            </li>
          </ul>
        </li>
        <li>
          Backend Technologies:
          <ul>
            <li>Proficiency in Node.js.</li>
            <li>
              API development for seamless communication between frontend and
              backend.
            </li>
          </ul>
        </li>
      </ul>

      <h3>Integration:</h3>
      <p>
        Specializing in integrating third-party services and APIs to enhance the
        functionality and connectivity of your web applications.
      </p>

      <h3>Maintenance and Support:</h3>
      <p>
        My commitment doesn't end with the launch. I provide ongoing maintenance
        and support to ensure your web applications stay secure and up-to-date.
      </p>

      <!-- <h3>Portfolio:</h3>
      <p>
        Explore my portfolio to witness the stories behind each project. My
        versatility and commitment to excellence are showcased in every unique
        <a (click)="goToPage('portfolio')">website</a> we create.
      </p> -->
    </div>
  </div>
</div>
