<div class="page-content">
  <div id="about" class="about-section">
    <p id="intro">
      I specialize in HTML, CSS, JavaScript/TypeScript, Angular, NodeJS,
      Express, MongoDB, and the Ionic Framework. My passion for technology fuels
      my dedication to constant improvement. I actively pursue ongoing training
      to refine and expand my technical and creative skills.
    </p>
    <div class="container">
      <div class="about-contents">
        <div class="about-list">
          <ul>
            <li class="col-md-4 col-sm-12">
              <div class="inner-list">
                <div class="icon">
                  <img src="../assets/pixie_perfect.png" alt="" />
                </div>
                <div class="title"><h3>Pixel Perfect</h3></div>
                <div class="text">
                  <p>
                    Most common methods for designing websites that work well on
                    desktop is responsive and adaptive design.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-12">
              <div class="inner-list">
                <div class="icon">
                  <img src="../assets/high_quality.png" alt="" />
                </div>
                <div class="title"><h3>High Quality</h3></div>
                <div class="text">
                  <p>
                    Most common methods for designing websites that work well on
                    desktop is responsive and adaptive design.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-12">
              <div class="inner-list">
                <div class="icon">
                  <img src="../assets/awesome_idea.png" alt="" />
                </div>
                <div class="title"><h3>Awesome Idea</h3></div>
                <div class="text">
                  <p>
                    Most common methods for designing websites that work well on
                    desktop is responsive and adaptive design.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bouncing-mouse">
      <div class="mouse"></div>
      <span class="mouse-btn"></span>
    </div>

    <div class="container">
      <div class="about-details">
        <div class="about-details-image">
          <img src="./img/2.jpg" alt="" />
        </div>

        <div class="wrapper">
          <div class="number-years">
            <div class="years">
              <h3>18</h3>
              <span
                >Years <br />
                of Success</span
              >
            </div>
          </div>
          <div class="projects">
            <div class="total-projects">
              <h3>9K</h3>
              <span
                >Total <br />
                Projects</span
              >
            </div>
          </div>
        </div>
        <div class="about-details-info">
          <div class="role">
            <span>I am a Designer</span>
            <h3>I Can Design Anything You Want</h3>
          </div>
          <div class="role-details">
            <p>
              Hello there! I'm a web designer, and I'm very passionate and
              dedicated to my work. With 20 years experience as a professional
              web developer, I have acquired the skills and knowledge necessary
              to make your project a success. I enjoy every step of the design
              process, from discussion and collaboration.
            </p>
          </div>
          <div class="hire-me">
            <div class="hire-me-btn">
              <a href="#about"><span>Hire Me</span></a>
            </div>
          </div>
          <div class="splash"><img src="./img/2_003.png" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
