<div id="about" class="about-section">
  <p id="intro">
    I am a frontend web/mobile app developer with a year's expertise in HTML,
    CSS, JavaScript/TypeScript, Angular, and the Ionic Framework, complemented
    by backend proficiency in NodeJS, Express, MongoDB, and adeptness in email
    marketing. Driven by a passion for innovation, I'm committed to evolving my
    skills through continuous learning and thrive in collaborative environments.
    Let's collaborate and transform ideas into extraordinary digital
    experiences!
  </p>
  <div class="about-contents">
    <div class="about-list">
      <ul>
        <li class="col-md-4 col-sm-12">
          <div class="inner-list">
            <div class="icon">
              <img src="../assets/pixie_perfect.png" alt="" />
            </div>
            <div class="title"><h3>Pixel Perfect</h3></div>
            <div class="text">
              <p>
                Creating a website that epitomizes precision and detail demands
                meticulous attention to every pixel, ensuring seamless
                compatibility across devices through responsive and adaptive
                design.
              </p>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-12">
          <div class="inner-list">
            <div class="icon">
              <img src="../assets/high_quality.png" alt="" />
            </div>
            <div class="title"><h3>High Quality</h3></div>
            <div class="text">
              <p>
                Striving for excellence involves crafting websites that exude
                quality in every aspect, embracing responsive and adaptive
                design to ensure optimal performance across diverse platforms.
              </p>
            </div>
          </div>
        </li>
        <li class="col-md-4 col-sm-12">
          <div class="inner-list">
            <div class="icon">
              <img src="../assets/awesome_idea.png" alt="" />
            </div>
            <div class="title"><h3>Awesome Idea</h3></div>
            <div class="text">
              <p>
                Innovating web design requires exploring groundbreaking ideas,
                while integrating responsive and adaptive design principles to
                bring these concepts to life across various devices.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="bouncing-mouse">
    <div class="mouse"></div>
    <span class="mouse-btn"></span>
  </div>

  <div class="about-details">
    <div class="about-details-image">
      <img src="../assets/img_02_1.png" alt="" />
    </div>

    <div class="wrapper">
      <div class="number-years">
        <div class="years">
          <h3>9+</h3>
          <span
            >Months<br />
            of Success</span
          >
        </div>
      </div>
      <div class="projects">
        <div class="total-projects">
          <h3>9+</h3>
          <span
            >Total <br />
            Projects</span
          >
        </div>
      </div>
    </div>
    <div class="about-details-info">
      <div class="role">
        <span>I am a Designer</span>
        <h3>I Can Design Anything You Want</h3>
      </div>
      <div class="role-details">
        <p>
          I am a versatile designer skilled in web and mobile app development,
          email marketing, and crafting customized UX/UI experiences. My
          proficiency in HTML, CSS, JavaScript/TypeScript, Angular, NodeJS,
          Express, MongoDB, and prioritizing the Ionic Framework, I'm primed to
          materialize your digital visions. Let's collaborate and craft
          exceptional digital solutions!
        </p>
      </div>
      <div class="hire-me">
        <div class="hire-me-btn">
          <a (click)="downloadResume()"><span>Hire Me</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
