<div class="page-content">
  <div class="top">
    <div class="intro">
      <span>Call Me On</span>
      <h1><a href="tel:2348179290343">+234(0)817-929-0343</a></h1>
      <h2></h2>

      <div class="job">
        <p>
          Email:
          <a href="mailto:frederickadarode@gmail.com">
            <span id="green"> frederickadarode&#64;gmail.com </span>
          </a>
        </p>
      </div>

      <div class="social">
        <ul>
          <li>
            <a
              href="http://www.facebook.com/rickofar"
              target="_blank"
              class="facebook"
              ><img src="assets/facebook-app-symbol.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.twitter.com/rickofar1"
              target="_blank"
              class="twitter"
              ><img src="assets/twitter.png" alt=""
            /></a>
          </li>
          <li>
            <a
              class="linkedIn"
              href="https://www.linkedIn.com/in/frederickadarode"
              target="_blank"
              ><img src="assets/linkedin.png" alt=""
            /></a>
          </li>
          <!-- <li>
            <a href="#"><img src="assets/be.png" alt="" /></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="bouncing-mouse">
    <div class="mouse"></div>
    <span class="mouse-btn"></span>
  </div>
</div>
