<div class="page-content">
  <div class="portfolio-section" id="portfolio">
    <div class="portfolio row">
      <div class="portfolio">
        <div class="portfolio-head">
          <span>Portfolio</span>
          <h3>My Amazing Works</h3>
          <p>
            As a web app developer, I've created a diverse array of digital
            solutions. Alongside these technical skills, I've also honed my
            abilities in Adobe After Effects, crafting animated lyrics and
            videos showcased in various projects. These projects include dynamic
            websites, engaging web applications, musical videos with animated
            lyrics and ongoing innovative ventures.
          </p>
        </div>
        <div class="portfolio-links">
          <ul>
            <li *ngFor="let link of links">
              <a href="portfolio/{{ link.id }}" class="links">{{
                link.name
              }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="portfolio-gallery">
        <ul>
          <li class="mockup" id="video">
            <a href="https://youtu.be/3cS8A3JIU_s" target="_blank">
              <div class="portfolio1"></div
            ></a>
            <div class="mockup-inner">
              <a href="https://youtu.be/3cS8A3JIU_s" target="_blank">
                <h3>Video</h3>
                <span>Days & Night (Deep Ends)</span></a
              >
            </div>
          </li>
          <li class="ave-bottle" id="website">
            <a href="https://www.bonny-official.com" target="_blank"
              ><div class="portfolio2"></div
            ></a>
            <div class="ave-bottle-inner">
              <a href="https://www.bonny-official.com" target="_blank"
                ><h3>Bonny Official</h3>
                <span>Website</span>
              </a>
            </div>
          </li>
          <li class="magic-art" id="website">
            <a href="https://www.rickofar.GitHub.io/lmv-pro" target="_blank">
              <div class="portfolio3"></div
            ></a>
            <div class="magic-art-inner">
              <a href="https://www.rickofar.GitHub.io/lmv-pro" target="_blank">
                <h3>LMV Pro-Lights</h3>
                <span>Website</span></a
              >
            </div>
          </li>
          <li class="art-stone" id="app">
            <a href="https://analogclockbyrickofar.netlify.app" target="_blank">
              <div class="portfolio4 img-responsive"></div
            ></a>
            <div class="art-stone-inner">
              <a
                href="https://analogclockbyrickofar.netlify.app"
                target="_blank"
              >
                <h3>Analog Clock</h3>
                <span>Web App</span></a
              >
            </div>
          </li>
          <li class="blue-lemon" id="video">
            <a href="https://youtu.be/tMDM_NKoAic" target="_blank">
              <div class="portfolio5"></div
            ></a>
            <div class="blue-lemon-inner">
              <a href="https://youtu.be/tMDM_NKoAic" target="_blank">
                <h3>Cactus</h3>
                <span>Video</span></a
              >
            </div>
          </li>
          <li class="global-evolution" id="app">
            <a href="https://calculatorbyrickofar.netlify.app" target="_blank">
              <div class="portfolio6"></div
            ></a>
            <div class="global-evolution-inner">
              <h3>Calculator</h3>
              <span>Web App</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="bouncing-mouse">
        <div class="mouse"></div>
        <span class="mouse-btn"></span>
      </div>

      <div class="portfolio-design row" id="email">
        <div class="design-details col-md-6 col-sm-12">
          <span>Design is Life</span>
          <h3>I Develop Skills Regularly to Keep Me Update</h3>
          <p>
            Most common methods for designing websites that work well on desktop
            is responsive and adaptive design
          </p>
          <div class="progress-bar" #progressBar>
            <div>
              <span class="marker">Websites</span
              ><span class="web-number">22%</span>
            </div>
            <div class="bar"><div class="bar-orange"></div></div>
            <div>
              <span class="marker">Web Apps</span
              ><span class="app-number">44%</span>
            </div>
            <div class="bar"><div class="bar-green"></div></div>
            <div>
              <span class="marker">Others</span
              ><span class="others-number">44%</span>
            </div>
            <div class="bar"><div class="bar-blue"></div></div>
          </div>
        </div>
        <div class="design-image col-md-6 col-sm-12">
          <img src="assets/img_05.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
