<div class="page-content">
  <div class="portfolio-section" id="portfolio">
    <div class="portfolio row">
      <div class="portfolio">
        <div class="portfolio-head">
          <span>Portfolio</span>
          <h3>My Amazing Works</h3>
          <p>
            As a web and mobile app developer, I've created a diverse array of
            digital solutions. Alongside these technical skills, I've also honed
            my abilities in Adobe After Effects, crafting animated lyrics and
            videos showcased in various projects. These projects include dynamic
            websites, engaging web applications, musical videos with animated
            lyrics and ongoing innovative ventures.
          </p>
        </div>
        <div class="portfolio-links">
          <ul>
            <!-- <li><a href="#" class="active links">All</a></li> -->
            <li><a href="#" class="links">YouTube</a></li>
            <li><a href="#" class="links">Email Marketing</a></li>
            <li><a href="#" class="links">Websites</a></li>
            <li><a href="#" class="links">Web Apps</a></li>
            <li><a href="#" class="links">Details</a></li>
          </ul>
        </div>
      </div>

      <div class="portfolio-gallery">
        <ul>
          <li class="mockup">
            <div class="portfolio1"></div>
            <div class="mockup-inner">
              <h3>Mockup Shape</h3>
              <span>YouTube</span>
            </div>
          </li>
          <li class="ave-bottle">
            <div class="portfolio2"></div>
            <div class="ave-bottle-inner">
              <h3>Ave Bottle</h3>
              <span>Vimeo</span>
            </div>
          </li>
          <li class="magic-art">
            <div class="portfolio3"></div>
            <div class="magic-art-inner">
              <h3>Magic Art</h3>
              <span>Soundcloud</span>
            </div>
          </li>
          <li class="art-stone">
            <div class="portfolio4 img-responsive"></div>
            <div class="art-stone-inner">
              <h3>Art Stone</h3>
              <span>Popup</span>
            </div>
          </li>
          <li class="blue-lemon">
            <div class="portfolio5"></div>
            <div class="blue-lemon-inner">
              <h3>Blue Lemon</h3>
              <span>Popup</span>
            </div>
          </li>
          <li class="global-evolution">
            <div class="portfolio6"></div>
            <div class="global-evolution-inner">
              <h3>Global Evolution</h3>
              <span>Details</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="bouncing-mouse">
        <div class="mouse"></div>
        <span class="mouse-btn"></span>
      </div>

      <div class="portfolio-design row">
        <div class="design-details col-md-6 col-sm-12">
          <span>Design is Life</span>
          <h3>I Develop Skills Regularly to Keep Me Update</h3>
          <p>
            Most common methods for designing websites that work well on desktop
            is responsive and adaptive design
          </p>
          <div class="progress-bar" #progressBar>
            <div>
              <span class="marker">Websites</span
              ><span class="web-number">22%</span>
            </div>
            <div class="bar"><div class="bar-orange"></div></div>
            <div>
              <span class="marker">Web/Mobile Apps</span
              ><span class="app-number">44%</span>
            </div>
            <div class="bar"><div class="bar-green"></div></div>
            <div>
              <span class="marker">Others</span
              ><span class="others-number">44%</span>
            </div>
            <div class="bar"><div class="bar-blue"></div></div>
          </div>
        </div>
        <div class="design-image col-md-6 col-sm-12">
          <img src="../assets/img_05.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
