<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <h2>UX - UI Design</h2>
    <span class="close" (click)="onCloseModal()">&times;</span>
    <div class="modal-body">
      <p>
        Step into the world of seamless digital experiences with my UI/UX Design
        services. I focus on creating interfaces that not only look visually
        stunning but also provide an intuitive and enjoyable journey for your
        users.
      </p>

      <div class="creative-image">
        <img src="assets/ux.jpg" alt="" />
      </div>
      <h3>Services Offered</h3>
      <ul>
        <li>
          User Interface (UI) Design:
          <ul>
            <li>Aesthetically pleasing designs tailored to your brand.</li>
            <li>Emphasis on usability and user interaction.</li>
          </ul>
        </li>
        <li>
          User Experience (UX) Design:
          <ul>
            <li>Intuitive navigation for a seamless user journey.</li>
            <li>User-centric design strategies for optimal engagement.</li>
          </ul>
        </li>
      </ul>

      <h3>Integration:</h3>
      <p>
        We work closely with you to understand your brand, audience, and vision,
        ensuring that the final UI/UX design aligns seamlessly with your goals.
      </p>

      <h3>Prototyping:</h3>
      <p>
        Bring your ideas to life with interactive prototypes, providing a
        tangible preview of the user experience before development.
      </p>

      <h3>Iterative Design:</h3>
      <p>
        Iterative design process ensures continuous improvement, refining the
        UI/UX based on user feedback and evolving industry trends.
      </p>

      <h3>Portfolio:</h3>
      <p>
        <a (click)="goToPage('portfolio')">Explore</a> my portfolio to witness
        the transformative impact my UI/UX designs have had on digital
        experiences.
      </p>
    </div>
  </div>
</div>
