<div class="page-content">
  <div class="service-section" id="portfolio">
    <div class="service row">
      <div class="service">
        <div class="service-head">
          <span>Services</span>
          <h3>What I Do for Clients</h3>
          <p>
            Here is where creativity meets innovation! Explore the services I
            render, including crafting visually stunning and responsive
            websites, empowering businesses with comprehensive web solutions,
            elevating digital presence through UI/UX design, and transforming
            music into captivating lyric animated videos. Let me bring your
            digital vision to life!"
          </p>
        </div>
      </div>
      <div class="service-list">
        <ul>
          <li (click)="openWebDevModal()">
            <div class="creative">
              <div class="creative-image">
                <img src="assets/web.avif" alt="" />
              </div>
              <div class="creative-details">
                <h3>Web Design/Development</h3>
                <p>
                  My Web Design and Development Services are crafted to deliver
                  visually stunning, responsive websites that not only captivate
                  but also provide an exceptional user experience.
                </p>
              </div>
            </div>
          </li>

          <webDev-modal
            *ngIf="webDevModal"
            (closeModal)="closeWebDevModal()"
          ></webDev-modal>

          <li (click)="openWebAppModal()">
            <div class="creative">
              <div class="creative-image">
                <img src="assets/app.jpg" alt="" />
              </div>
              <div class="creative-details">
                <h3>Web Application (Frontend and Backend)</h3>
                <!-- <span>Starts from</span><span class="color"> $199</span> -->
                <p>
                  Empower your business with my comprehensive Web Application
                  Development services. From intuitive frontend interfaces to
                  robust backend functionality, I've got you covered.
                </p>
              </div>
            </div>
          </li>

          <webApp-modal
            *ngIf="webAppModal"
            (closeModal)="closeWebAppModal()"
          ></webApp-modal>

          <li (click)="openUxModal()">
            <div class="creative">
              <div class="creative-image">
                <img src="assets/ux.jpg" alt="" />
              </div>
              <div class="creative-details">
                <h3>UI - UX Design</h3>
                <!-- <span>Starts from</span><span class="color"> $299</span> -->
                <p>
                  Step into the world of seamless digital experiences with my
                  UI/UX Design services. I focus on creating interfaces that not
                  only look visually stunning but also provide an intuitive and
                  enjoyable journey for your users.
                </p>
              </div>
            </div>
          </li>

          <ux-modal *ngIf="uxModal" (closeModal)="closeUxModal()"></ux-modal>

          <li (click)="openLyricModal()">
            <div class="creative">
              <div class="creative-image">
                <img src="assets/lyrics.jpg" alt="" />
              </div>
              <div class="creative-details">
                <h3>Lyric Animated Videos</h3>
                <!-- <span>Starts from</span><span class="color"> $399</span> -->
                <p>
                  Experience the fusion of creativity and technology with Lyric
                  Animated Videos. I transform your music into captivating
                  visual stories that leave a lasting impression.
                </p>
              </div>
            </div>
          </li>

          <lyrics-modal
            *ngIf="lyricModal"
            (closeModal)="closeLyricModal()"
          ></lyrics-modal>
        </ul>
      </div>

      <div class="bouncing-mouse">
        <div class="mouse"></div>
        <span class="mouse-btn"></span>
      </div>
    </div>
  </div>
</div>
