<div class="page-content">
  <div class="portfolio-section" id="portfolio">
    <div class="portfolio row">
      <div class="portfolio">
        <div class="portfolio-head">
          <span>Services</span>
          <h3>What I Do for Clients</h3>
          <p>
            Here is where creativity meets innovation! Explore the services I
            render, including crafting visually stunning and responsive
            websites, empowering businesses with comprehensive web solutions,
            elevating digital presence through UI/UX design, and transforming
            music into captivating lyric animated videos. Let me bring your
            digital vision to life!"
          </p>
        </div>
      </div>
      <div class="portfolio-gallery">
        <ul>
          <li (click)="webDevModal()">
            <div class="creative">
              <div class="creative-image">
                <img src="./img/creative.png" alt="" />
              </div>
              <div class="creative-details">
                <h3>Web Design/Development</h3>
                <!-- <span>Starts from</span><span class="color"> $399</span> -->
                <p>
                  My Web Design and Development Services are crafted to deliver
                  visually stunning, responsive websites that not only captivate
                  but also provide an exceptional user experience.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="creative">
              <div class="creative-image">
                <img src="./img/graphics_design.png" alt="" />
              </div>
              <div class="creative-details">
                <h3>Web Application (Frontend and Backend)</h3>
                <!-- <span>Starts from</span><span class="color"> $199</span> -->
                <p>
                  Empower your business with our comprehensive Web Application
                  Development services. From intuitive frontend interfaces to
                  robust backend functionality, we've got you covered.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="creative">
              <div class="creative-image">
                <img src="./img/ux_design.png" alt="" />
              </div>
              <div class="creative-details">
                <h3>UI/UX Design</h3>
                <!-- <span>Starts from</span><span class="color"> $299</span> -->
                <p>
                  Step into the world of seamless digital experiences with our
                  UI/UX Design services. We focus on creating interfaces that
                  not only look visually stunning but also provide an intuitive
                  and enjoyable journey for your users.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="creative">
              <div class="creative-image">
                <img src="./img/web_design.png" alt="" />
              </div>
              <div class="creative-details">
                <h3>Lyric Animated Videos</h3>
                <!-- <span>Starts from</span><span class="color"> $399</span> -->
                <p>
                  Experience the fusion of creativity and technology with our
                  Lyric Animated Videos. We transform your music into
                  captivating visual stories that leave a lasting impression.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="bouncing-mouse">
        <div class="mouse"></div>
        <span class="mouse-btn"></span>
      </div>

      <div class="portfolio-design row" id="email">
        <div class="design-details col-md-6 col-sm-12">
          <span>Design is Life</span>
          <h3>I Develop Skills Regularly to Keep Me Update</h3>
          <p>
            Most common methods for designing websites that work well on desktop
            is responsive and adaptive design
          </p>
          <div class="progress-bar" #progressBar>
            <div>
              <span class="marker">Websites</span
              ><span class="web-number">22%</span>
            </div>
            <div class="bar"><div class="bar-orange"></div></div>
            <div>
              <span class="marker">Web Apps</span
              ><span class="app-number">44%</span>
            </div>
            <div class="bar"><div class="bar-green"></div></div>
            <div>
              <span class="marker">Others</span
              ><span class="others-number">44%</span>
            </div>
            <div class="bar"><div class="bar-blue"></div></div>
          </div>
        </div>
        <div class="design-image col-md-6 col-sm-12">
          <img src="../assets/img_05.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
 
