<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <h2>Lyric Animated Videos</h2>
    <span class="close" (click)="onCloseModal()">&times;</span>
    <div class="modal-body">
      <p>
        Experience the fusion of creativity and technology with Lyric Animated
        Videos. I transform your music into captivating visual stories that
        leave a lasting impression.
      </p>

      <div class="creative-image">
        <img src="assets/lyrics.jpg" alt="" />
      </div>

      <h3>Animation Style:</h3>
      <p>
        Choose from a variety of animation styles, including 2D, 3D, and motion
        graphics, to match the mood and tone of your music.
      </p>

      <h3>Customization:</h3>
      <p>
        Each lyric video is crafted uniquely for your song. We pay attention to
        details, syncing animations with lyrics and creating a visual narrative
        that complements your music.
      </p>

      <h3>Collaboration:</h3>
      <p>
        We collaborate closely with artists to understand their vision, ensuring
        the final product aligns seamlessly with the essence of the music.
      </p>

      <h3>Delivery:</h3>
      <p>
        Receive high-quality lyric videos in various formats suitable for
        different platforms, from YouTube to social media.
      </p>

      <h3>Portfolio:</h3>
      <p>
        <a (click)="goToPage('portfolio')">Explore</a> our portfolio to witness
        the magic we've created for musicians and bands. Let your music come to
        life with our Lyric Animated Videos.
      </p>
    </div>
  </div>
</div>
