<div
  class="header"
  [ngClass]="{
    'navbar-scrolled': isScrolling,
    'navbar-visible': !isScrolling,
    'navbar-at-top': isAtTop
  }"
>
  <div class="site-logo">
    <a (click)="goToPage('')"><img src="assets/site-logo.png" alt="" /> </a>
  </div>
  <nav>
    <ul class="desktop">
      <li>
        <a (click)="goToPage('')" [ngClass]="{ active: activeTab === 'home' }"
          >Home</a
        >
      </li>
      <li>
        <a
          (click)="goToPage('about')"
          [ngClass]="{ active: activeTab === 'about' }"
          >About</a
        >
      </li>
      <li>
        <a
          (click)="goToPage('portfolio')"
          [ngClass]="{ active: activeTab === 'portfolio' }"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          (click)="goToPage('services')"
          [ngClass]="{ active: activeTab === 'services' }"
          >Services</a
        >
      </li>
      <li>
        <a
          (click)="goToPage('contact')"
          [ngClass]="{ active: activeTab === 'contact' }"
          >Contact</a
        >
      </li>
      <li class="download-cv">
        <a (click)="downloadResume()" class="links"><span>Download CV</span></a>
      </li>
    </ul>

    <div class="menu-trigger" (click)="isOpen = !isOpen">
      <i class="gg-push-chevron-left-o"></i>
    </div>
  </nav>

  <div class="side-menu" *ngIf="isOpen" [@sideMenu]>
    <div class="menu-close" (click)="isOpen = !isOpen">
      <i class="gg-push-chevron-right-o"></i>
    </div>
    <div class="menu-item" *ngFor="let item of items">
      <a routerLink="{{ item.url }}" (click)="isOpen = !isOpen">{{
        item.name
      }}</a>
    </div>
    <a (click)="downloadResume()" class="mbDownload"
      ><span>Download CV</span></a
    >
    <a (click)="isOpen = !isOpen" class="outside">X</a>
  </div>
</div>
