<div class="page-content">
  <div class="top">
    <div class="intro">
      <span>My name is</span>
      <h1>Frederick Adarode</h1>
      <h2></h2>

      <div class="job">
        <p>
          A <span id="green">Developer & Creative Designer</span> from
          <span id="purple">Ughelli, Nigeria</span>
        </p>
      </div>
      <div class="description">
        <p>
          I'm a dedicated creative designer, my passion for design fuels my
          unwavering commitment to excellence. I consistently invest in ongoing
          training to continually refine and elevate my creative skill set.
        </p>
      </div>
      <div class="brief">
        <div class="info-button">
          <div class="abt-btn">
            <a (click)="goToPage('about')"><span>About Me</span></a>
          </div>
          <div class="social">
            <ul>
              <li>
                <a
                  href="http://www.facebook.com/rickofar"
                  target="_blank"
                  class="facebook"
                  ><img src="assets/facebook-app-symbol.png" alt=""
                /></a>
              </li>
              <li>
                <a
                  href="https://www.twitter.com/rickofar1"
                  target="_blank"
                  class="twitter"
                  ><img src="assets/twitter.png" alt=""
                /></a>
              </li>
              <li>
                <a
                  class="linkedIn"
                  href="https://www.linkedIn.com/in/frederickadarode"
                  target="_blank"
                  ><img src="assets/linkedin.png" alt=""
                /></a>
              </li>
              <!-- <li>
                <a href="#"><img src="assets/be.png" alt="" /></a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="assets/avatar.png" alt="Avi" />
      <div class="skills">
        <span class="illustrator"
          ><img src="assets/illustrator.png" alt="AI"
        /></span>
        <!-- <span class="photoshop"
          ><img src="assets/photoshop.png" alt=""
        /></span> -->
        <span class="figma"><img src="assets//figma.png" alt="Fig" /></span>
        <!-- <span class="effects"><img src="assets/after.png" alt="effects" /></span> -->
        <span class="html"><img src="assets/html.png" alt="HTML" /></span>
        <span class="css">
          <img src="assets/css.png" alt="CSS" />
        </span>
        <span class="javascript">
          <img src="assets/javascript.png" alt="JS" />
        </span>
        <span class="angular">
          <img src="assets/angular.png" alt="NG" />
        </span>
        <span class="ionic">
          <img src="assets/ionic.png" alt="Ion" />
        </span>
        <span class="nodeJS">
          <img src="assets/nodeJS.png" alt="nodeJS" />
        </span>
      </div>
    </div>
  </div>

  <div class="bouncing-mouse">
    <div class="mouse"></div>
    <span class="mouse-btn"></span>
  </div>
</div>
