/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS";
  background: var(--background-color);
  // color: #cacaca;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  color: var(--text-color);
}

// home content
.page-content {
  margin: 5rem auto;
}

@media (max-width: 1040px) {
  .page-content {
    margin: 4rem 1rem 1.5rem;
  }
}

.bouncing-mouse {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  bottom: 5rem;
  z-index: -1;

  .mouse {
    border: 2px solid var(--button-background);
    height: 35px;
    width: 22px;
    border-radius: 15px;
  }

  .mouse-btn {
    position: absolute;
    border: 1.35px solid var(--button-background);
    border-radius: 10px;
    width: 0px;
    height: 8px;
    animation: bouncing-mouse 2s ease-in-out infinite;
  }

  @keyframes bouncing-mouse {
    0% {
      transform: translateY(14px);
    }

    50% {
      transform: translateY(7px);
    }

    100% {
      transform: translateY(14px);
    }
  }
}

@media screen and (max-width: 1040px) {
  .bouncing-mouse {
    display: none;
  }
}
