<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <span class="close" (click)="onCloseModal()">&times;</span>
    <div class="modal-body">
      <h2>Welcome to [Your Name]'s Digital Studio</h2>
      <p>
        Our Web Design and Development Services are crafted to deliver visually
        stunning, responsive websites that not only captivate but also provide
        an exceptional user experience.
      </p>

      <h3>Services Offered:</h3>
      <ul>
        <li>
          Custom Web Design:
          <ul>
            <li>Tailored designs reflecting your brand identity.</li>
            <li>User-centric layouts for optimal engagement.</li>
          </ul>
        </li>
        <li>
          Web Development:
          <ul>
            <li>Expert coding bringing designs to life.</li>
            <li>Cross-browser compatibility and mobile responsiveness.</li>
          </ul>
        </li>
        <li>
          E-commerce Solutions:
          <ul>
            <li>Building secure and user-friendly online stores.</li>
            <li>Seamless integration of payment gateways.</li>
          </ul>
        </li>
      </ul>

      <h3>UI/UX Design:</h3>
      <p>
        Elevate your digital presence with our UI/UX Design expertise. We focus
        on creating intuitive and visually appealing interfaces to enhance user
        experiences.
      </p>

      <h3>Our Approach:</h3>
      <p>
        We believe in collaborative design, ensuring your vision aligns with our
        expertise. From concept to launch, we prioritize communication and
        transparency, providing you with a website that exceeds expectations.
      </p>

      <h3>Technologies:</h3>
      <p>
        Stay ahead with the latest technologies - HTML5, CSS3, JavaScript, and
        more. Our websites are built for performance, security, and scalability.
      </p>

      <h3>Portfolio:</h3>
      <p>
        Explore our portfolio to witness the stories behind each project. Our
        versatility and commitment to excellence are showcased in every unique
        website we create.
      </p>
    </div>
  </div>
</div>
